* {
    box-sizing: border-box;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #E0ECF8;
    background-image: url();
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.back-div {
    width: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-bottom: -350px;
    margin-left: 320px;
    margin-top: 250px;
    font-size: 14px;
    position: relative;
}

.home {
    width: 80px;
    margin-bottom: -10px;
}

.homelink {
    color: #1f232a
}


.background {
    width: 60%;
    height: 75vh;
    margin: auto;
    margin-top: 0;
    background-color: #BF708D;
    padding-top: 50px;
    margin-bottom: 50px;
    border-radius: 20px;
    filter: drop-shadow(0 0 0.75rem rgba(63, 63, 63, 0.0));
}

header {
    background-color: #BF708D;
    width: 42%;
    height: 350px;
    margin: auto;
    margin-bottom: -20px;
    border-radius: 20px;
    filter: drop-shadow(0 0 0.75rem rgba(63, 63, 63, 0.5));
    position: sticky;
    top: 20px;
}

h1 {
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    color: #313742;
    text-align: center;
    padding-top: 30px;
    -webkit-text-stroke: 1px #ffbcd4;
}

.stripe {
    width: 100%;
    height: 20px;
    margin: auto;
    margin-top: -90px;
    background-color: #ffbcd4;
}

.header-img {
    width: 100%;
    margin: auto;
    margin-top: 40px;
}

h2 {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffbcd4;
    text-align: center;
    padding: 10px;
}

.h2box {
    background-color: #313742;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

li {
    background-color:  #ffbcd4;
    height: 175px;
    width: 175px;
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    text-align: center;
    border-radius: 30%; 
    border-color: #763D4C;
    border-style: solid;
    border-width: 5px;
    padding: 35px 0px;
}

.threerows {
    padding: 30px 0px;
}

li:hover {
    background-color: #763D4C;
    border-color: #ffbcd4;
    transform: scale(1.1);
    
}

a:hover {
    color: #ffbcd4;
}

a {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #763D4C;
}

.headerbackground {
    width: 80%;
    margin: auto;
    background-color: #ffbcd4;
    padding: 10px 25px;
    margin-bottom: 40px;
    border-radius: 20px;
}


.about {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #4c2731;
}

.emoji {
    font-size: 40px;
    margin: 0;
}

.icon-img {
    height: 50%;
    margin-top: -10px;
}

